<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <img [src]="serviceImage" class="imgService card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{serviceName}}</h5>
                    <div class="card-text" [innerHtml]="serviceDesc">
                    </div>
                    <a href="#" class="btn btn-primary">Contact Us For {{serviceName}}</a>
                </div>
            </div>
        </div>
    </div>
</div>